{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<!-- site_headerを変えたい場合は、django.contrib.admin.AdminSite.site_header 属性を使えば、実は簡単に変えられる -->
<!-- ただ、こんな感じでファイルをコピーしてちょっと変えるだけでオーバーライドできる -->
<!-- <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1> -->
<h1 id="site-name"><a href="{% url 'admin:index' %}">Polls Administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
